@import "tailwindcss";
.formContainer {
  @apply flex justify-center items-center h-screen;
}

.formClasses {
  @apply border-slate-400 border rounded-xl p-5 shadow-2xl w-1/3;
}

.inputClasses {
  @apply block border-slate-200 rounded-xl border p-2 my-1 focus:outline-0 shadow-sm w-full;
}

.formBtn {
  @apply bg-slate-800 text-white text-center my-1 w-full p-2 rounded-xl shadow-sm;
}
